    <!-- Download Section -->
    <section id="blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Blog</h2>
                    <p>My thoughts on anything that interests or excites me.</p>
                    <a href="http://blog.pranavmital.com" class="btn btn-default btn-lg" style="
                        color: #ffffff;
                        font-size: 30px;
                        border: 3px solid #ffffff;
                        ">Go To Blog</a>
                </div>
            </div>
        </div>
    </section>