    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text" style="font-family: Lato, &quot;Avenir Next&quot;, Lora, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">{{ site.description }}<br>
                        <ul class="list-inline banner-social-buttons" style="
    size: 30%;
">
                    
                    <li>
                        <a href="https://www.instagram.com/pranavmital" class="btn btn-default btn-lg" style="
                            font-size: 44px;
                            color:  white;
                            "><i class="fab fa-instagram"></i> </a>
                    </li>
                    
                    <li>
                        <a href="https://twitter.com/realpranavmital" class="btn btn-default btn-lg" style="
                            font-size: 44px;
                            color: white;
                            "><i class="fab fa-twitter"></i> </a>
                    </li>
                    
                    <li>
                        <a href="https://www.facebook.com/realpranav" class="btn btn-default btn-lg" style="
                            font-size: 44px;
                            color:  white;
                            "><i class="fab fa-facebook-square"></i> </a>
                    </li>
                    
                    <li>
                        <a href="mailto:pranavmital27@gmail.com" class="btn btn-default btn-lg" style="
                            font-size: 44px;
                            color:  white;
                            "><i class="fas fa-envelope"></i> </a>
                    </li>
                    
                </ul>
                    </div>
                </div>
            </div>
        </div>
        <meta property="article:author" content="https://www.facebook.com/realpranav" />
    </header>
