    <!-- Insta Section -->
    <section id="insta" class="content-section text-center" style="
    padding-top: 11%;
    background: url(/img/ibg.jpg) no-repeat center center;

    padding-bottom: 11%;
    background-size: cover;
">
        <div class="insta-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Instagram</h2>
                    <p>Yes, I consider Instagram as ‘work’ and I’m proud of the content I post there. Be it through regular posts or through stories, Instagram is definitely a major avenue for displaying my creativity. </p>
                       
                       <!-- Delete this whole div if you want to remove Instagram pics --> 
                        <div style="
                        pointer-events: none;
                        ">
                    <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/608958" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

                    <a href="https://www.instagram.com/pranavmital/" class="btn btn-default btn-lg" style="
                        font-size: 30px;
                        border: 3px solid #219ab3;
                        margin-top: 35px;
                        ">My Instagram</a>
                </div>
            </div>
        </div>
    </section>