    <!-- Photo Section -->
    <section id="photo" class="content-section text-center" style="
    padding-top: 10%;
    background: url(/img/pbg.gif) no-repeat center center fixed;

    padding-bottom: 10%;
    
">
        <div class="photo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photography</h2>
                    <p>My experiments with the camera sometimes turn out okay :)</p>
                    <a href="http://photoblog.pranavmital.com" class="btn btn-default btn-lg" style="
                        font-size: 30px;
                        border: 3px solid #219ab3;
                        ">Go To PhotoBlog</a>
                </div>
            </div>
        </div>
    </section>