    <!-- Photo Section -->
    <section id="photo" class="content-section text-center" style="
    padding-top: 11%;
    background: url(/img/pbg.jpg) no-repeat center center;

    padding-bottom: 11%;
    background-size: cover;
    color: #ffffff;
    
">
        <div class="photo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photography</h2>
                    <p style=" text-align: left; ">I enjoy playing around with cameras and making photos. While a lot of my work makes its way to Instagram, you can explore a different dimension of it on my photoblog.</p>
                    <a href="http://photo.pranavmital.com" class="btn btn-default btn-lg" style="
                        font-size: 30px;
                        border: 3px solid #ffffff;
                        ">Visit Photoblog</a>
                </div>
            </div>
        </div>
    </section>